<app-modal  (closeModal)="closemodal($event)" *ngIf="modal" [typeModal]="typeModal" class="fixed w-full h-full flex justify-center  z-10 overflow-auto "></app-modal>
<h1 class="w-full min-h-[calc(10rem)] flex items-center ps-10 bg-[#104993c6] ">
  <img class="max-w-[calc(14rem)] " src="../assets/uctLogo2.png" alt="logo">
</h1>
<nav class="w-full relative bg-[#092C73] h-14 pt-2">
  <ul class="flex  h-full ">
    <li (click)="cambio('C')" routerLink="/" [ngClass]="{'bg-white': opCarpeta , 'text-black': opCarpeta, 'text-white': !opCarpeta , 'hover:bg-white/20': !opCarpeta, 'hover:text-white': !opCarpeta }" class="uppercase px-10 flex items-center  rounded-t-lg cursor-pointer  transition-all" >busqueda por carpeta</li>
    <li (click)="cambio('A')" [ngClass]="{'bg-white': opAvanzada , 'text-black': opAvanzada, 'text-white': !opAvanzada, 'hover:bg-white/20': !opAvanzada, 'hover:text-white': !opAvanzada }" routerLink="/bAvanzada" class="uppercase px-10 flex items-center  rounded-t-lg cursor-pointer  transition-all" >busqueda avanzada</li>
    <li (click)="cambio('D')" [ngClass]="{'bg-white': opAllDocuments , 'text-black': opAllDocuments, 'text-white': !opAllDocuments, 'hover:bg-white/20': !opAllDocuments, 'hover:text-white': !opAllDocuments }" routerLink="/allDocuments" class="uppercase px-10 flex items-center  rounded-t-lg cursor-pointer  transition-all" >todos los documentos</li>
  </ul>
  <button type="button" class="absolute right-2 top-[calc(50%)] translate-y-[calc(-50%)] bg-green-400 py-2 px-2 rounded-lg hover:bg-green-500 transition-all text-white" (click)="createModal()" >add Document</button>
</nav>
<div class="min-h-[calc(100vh-3.5rem-10rem)] w-full  ">
  <router-outlet (editar)="editarDocument($event)" ></router-outlet>
</div>

